[
  {
    "compilation_cd": "-I src"
  },
  {
    "name": "Test 2",
    "compilation_cmd": "-I src"
  },
  {
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 4",
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cd": "-I src"
  }
]
