[
  {
    "compilation_cd": "-I src"
  },
  {
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 3",
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 4",
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cd": "-I src"
  },
  {
    "name": ["Test 5"],
    "files": [13, 14],
    "compilation_cmd": 10
  },
  {
    "name": "Test 6",
    "files": [13, 14],
    "compilation_cmd": "-I src"
  }
]
