[
  {
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 01",
    "compilation_cmd": "-I src"
  },
  {
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cmd": "-I src"
  },
  {
    "nae": "Test 01",
    "file": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cd": "-I src"
  },
  {
    "name": "Test 02",
    "files": ["tests/test_02.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cd": "-I src"
  }
]
